services:
  mongo:
    image: mongo:7
    container_name: mongo-local
    ports:
      - '27017:27017'
    command: ['mongod', '--replSet', 'rs0', '--bind_ip_all']
    volumes:
      - mongo_data:/data/db

  keycloak-db:
    image: postgres:16
    container_name: keycloak-db
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: keycloak_password
    ports:
      - '5432:5432'
    volumes:
      - keycloak_pg_data:/var/lib/postgresql/data

  keycloak:
    image: quay.io/keycloak/keycloak:25.0.6
    container_name: keycloak
    depends_on:
      - keycloak-db
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      KC_DB: postgres
      KC_DB_URL_HOST: keycloak-db
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak_password

      # local
      KC_HTTP_ENABLED: 'true'
    ports:
      - '8080:8080'
    command: ['start-dev']

volumes:
  mongo_data:
  keycloak_pg_data:
