services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"

  keycloak:
    command: ["start-dev"]
    ports:
      - "8080:8080"
    environment:
      KC_HOSTNAME: auth.${DOMAIN}
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"

  mongo:
    ports:
      - "27017:27017"

  keycloak-db:
    ports:
      - "5432:5432"

  nginx:
    build:
      context: ..
      dockerfile: deploy/nginx/Dockerfile.local
      args:
        EXPO_PUBLIC_API_BASE_URL: ${EXPO_PUBLIC_API_BASE_URL}
        EXPO_PUBLIC_AUTH_BASE_URL: ${EXPO_PUBLIC_AUTH_BASE_URL}
        EXPO_PUBLIC_FILES_BASE_URL: ${EXPO_PUBLIC_FILES_BASE_URL}
        EXPO_PUBLIC_DOMAIN: ${EXPO_PUBLIC_DOMAIN}
    ports:
      - "${PUBLIC_HTTP_PORT}:80"
      - "${PUBLIC_HTTPS_PORT}:443"
    volumes:
      - ./certs:/etc/nginx/certs:ro
      - ../deploy/nginx/nginx.local.https.conf:/etc/nginx/conf.d/default.conf:ro
      - attachments_data:/data/campaign-attachments:ro
